<a href="{{ path(this.path, this.parameters) }}" class="link" {{ stimulus_target('assetview', 'backbutton') }}>
    {% include 'icon-chevron-left.svg' %}
    <span>{{ 'base.back'|trans }}</span>
</a>
