.context-menu {
  $this: &;

  position: relative;

  &__toggle {
    svg {
      pointer-events: none;
    }
  }

  &__menu {
    @include list-reset;
    & {
      display: none;
      position: absolute;
      right: -0.5rem;
      top: calc(100% + 0.5rem);
      width: 12.5rem;
      flex-direction: column;
      font-size: font-size(s);
      padding: space(xs);
      border-radius: border-radius(l);
      background-color: var(--neutral-800, #{$color-neutral-800});
      z-index: z-index(contextmenu);
    }

    .is-dropup > & {
      top: auto;
      bottom: calc(100% + 0.5rem);
    }

    body.no-js #{$this}:focus-within &,
    body.no-js #{$this}:hover &,
    #{$this}.is-open & {
      display: flex;
    }
  }

  &__link {
    --share-button-text-color: white;
    --share-button-font-weight: 400;
    --share-button-font-size: 0.875rem;
    --share-button-flex-direction: row-reverse;
    --share-button-padding: 0;
    --share-button-justify-content: space-between;
    --share-button-min-height: 24px;
    --share-button-icon-width: 14px;
    --share-button-icon-height: 14px;
    --share-button-icon-margin: 0 5px;

    @include button-reset();

    @include focus-outline-style() {
      outline-offset: -2px;
    }

    & {
      text-decoration: none;
      display: flex;
      cursor: pointer;
      width: 100%;
      padding: 0.5rem 0.5rem 0.5rem 0.75rem;
      align-items: center;
      justify-content: space-between;
      gap: 0.5rem;
      text-align: left;
      color: var(--white, #{$color-white});
      background-color: var(--neutral-800, #{$color-neutral-800});
      border-radius: border-radius(m);
      line-height: 1.1;
    }

    &:hover {
      background-color: var(--neutral-700, #{$color-neutral-700});
      color: var(--white, #{$color-white});
    }

    svg {
      flex: 0 0 auto;
    }
  }
}
