.count-badge {
  background: var(--neutral-300, #{$color-neutral-300});
  border-radius: 100px;
  font-weight: font-weight(medium);
  font-size: font-size(s);
  color: var(--neutral-700, #{$color-neutral-700});
  padding: 0.25rem 0.5rem;
  vertical-align: middle;
}
