.logo {
  &--centered {
    display: flex;
    justify-content: center;
  }

  &--small {
    svg {
      width: 60px;
      height: auto;
    }
  }

  &--big {
    svg {
      width: 200px;
      height: auto;
    }
  }

  &--alpha {
    position: relative;

    &::after {
      content: 'alpha-mode';
      background-color: var(--orange-400);
      font-size: 0.6875rem;
      border-radius: border-radius(xl);
      color: var(--white);
      padding: 0.125rem 0.75rem;
      position: absolute;
      left: calc(100% + 0.75rem);
      top: 50%;
      transform: translateY(-50%);
      white-space: nowrap;
      font-weight: font-weight(medium);
    }
  }

  &__fullsize {
    display: block;

    .has-subsidebar & {
      @include breakpoint(md) {
        display: none;
      }
    }
  }

  &__collapsed {
    display: none;

    .has-subsidebar & {
      @include breakpoint(md) {
        display: block;
      }
    }
  }
}


.logo-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 1rem;
  padding: 4rem 0 0 0;
}
