.profile-menu {
  &__toggle {
    padding: 0;

    svg path {
      fill: var(--neutral-900, #{$color-neutral-900});
    }

    &:hover {
      svg path {
        fill: var(--neutral-700, #{$color-neutral-700});
      }
    }
  }
}
