<div class="burger">
    <a class="burger__link" href="#main-menu">
        <span class="visually-hidden">
            {{ 'base.skipToMenu'|trans }}
        </span>
        <span class="burger__bars"></span>
    </a>
</div>
