{% extends 'base_loggedout.html.twig' %}

{% block body %}
    <h1>Ups - ein Fehler</h1>
    <p>Leider ist uns ein Fehler unterlaufen - passiert den besten. Im Zweifel einfach mal unserem Support schreiben: <br>
        <a href="mailto:{{ contact_email }}">{{ contact_email }}</a></p>
{% endblock %}
