{% extends 'base_loggedout.html.twig' %}

{% block body %}
    <h1>Ups - Zugriff verweigert</h1>
    <p>Möchte da jemand seine Nase in Angelegenheiten stecken, die ihn nichts angehen? Im Zweifel, einfach mal den Cheffe fragen.</p>
{% endblock %}