{% extends 'base_loggedout.html.twig' %}

{% block body %}
    <h1>Ups - Seite verloren</h1>
    <p>Da ist uns wohl eine Seite abhanden gekommen. Am besten fängst du auf der Startseite nochmal an zu suchen!</p>
{% endblock %}