{% extends 'base_loggedout.html.twig' %}

{% block body %}
    <h2 class="headline headline--centered">Passwort zurücksetzen</h2>
    {{ form_start(form, {'attr': {'class': 'form'}}) }}
    {{ form_row(form.email) }}
    {{ form_row(form.submit, {'row_attr': {'class': 'has-button-fullwidth'}}) }}
    {{ form_end(form) }}
{% endblock %}
