{% extends 'base_loggedout.html.twig' %}

{% block body %}
    <h1>Dieser Workspace ist aktuell blockiert.</h1>
    <p>Wenn dies nach einem Fehler aussieht, einfach mal unserem Support schreiben: <br>
        <a href="mailto:{{ contact_email }}">{{ contact_email }}</a></p>
{% endblock %}
